/*
 * Copyright (c) 2011-2018 JFXtras
 *  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions are met:
 *      * Redistributions of source code must retain the above copyright
 *        notice, this list of conditions and the following disclaimer.
 *      * Redistributions in binary form must reproduce the above copyright
 *        notice, this list of conditions and the following disclaimer in the
 *        documentation and/or other materials provided with the distribution.
 *      * Neither the name of the organization nor the
 *        names of its contributors may be used to endorse or promote products
 *        derived from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 *  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 *  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 *  DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 *  DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 *  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 *  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 *  ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 *  SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

@import "JMetroBase.css";

.background{
    -fx-background-color: #1d1d1d;
}

.header{
    -fx-text-fill: white;
}

.item-title{
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

/*******************************************************************************
 *                                                                             *
 * Button and ToggleButton                                                     *
 *                                                                             *
 ******************************************************************************/

.button, .toggle-button {
    background_color: #333333;
    background_pressed_color: #666666;

    border_hover_color: #858585;

    text_color: white;
    default_button_text_color: white;

    focus_ring_border_color: white;
}

.button {
    border_hover_default_color: derive(accent_color, 70%);
}

.toggle-button {
    border_hover_selected_color: derive(accent_color, 70%);
}

/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/
.check-box {
    text_color: white;

    box_background_color: #111;
    box_border_color: #cccccc;
    box_border_hover_color: white;

    indeterminate_mark_color: #cccccc;
    indeterminate_box_pressed_color: #111;

    focus_ring_color: white;
}

/* -- indeterminate - hover */
.check-box:indeterminate:hover > .box > .mark {
    -fx-background-color: white;
}

/* -- focused - hover */
.check-box:focused:hover > .box{
    -fx-border-color: focus_ring_color, box_border_hover_color;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    text_color: white;

    background_color: #111;
    background_pressed_color: #111;

    border_color: #cccccc;
    border_hover_color: white;

    dot_color: #111;
    dot_selected_color: #cccccc;
    dot_selected_hover_color: white;

    focus_ring_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    background_color: #2b2b2b;
    border_color: #767676;
    text_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar and Scroll Pane                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-bar {
    thumb_color: #52565a;
    thumb_hover_color: #7d8183;
    thumb_pressed_color: #a9abad;

    track_color: #29292a;

    inc_dec_button_color: #2a2d30;
    inc_dec_button_hover_color: #3c4145;
    inc_dec_button_pressed_color: #a8abac;

    arrow_color: white;
    arrow_pressed_color: #111;
}

/**************************** Scroll Pane *************************************/

.scroll-pane {
    background_color: #29292a;
}

/*******************************************************************************
 *                                                                             *
 * Combo Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.combo-box-base {
    border_color: #666666;
    border_hover_color: #999999;
    border_focused_color: white;
    border_pressed_color: #666666;

    background_color: #111;
    background_pressed_color: #333333;

    arrow_color: white;

    text_color: white;

    list_cell_color: #2b2b2b;
    list_cell_hover_color: #545454;

    list_cell_border_color: #767676;
}

/*******************************************************************************
 *                                                                             *
 * Rating (ControlsFX)                                                         *
 *                                                                             *
 ******************************************************************************/

.rating {
    star_color: #6d6d6d;
}
.rating:disabled{
    -fx-opacity: .8;
}

/*******************************************************************************
 *                                                                             *
 * Text Common (TextField, PasswordField, TextArea)                            *
 *                                                                             *
 ******************************************************************************/

.text-input {
    border_color: #666;
    border_hover_color: #999;
    border_disabled_color: #555;

    text_input_background_color: #111;
    background_focused_color: #fff;
    background_hover_color: #111;
    background_disabled_color: #111;

    text_color: white;
    text_focused_color: #111;
    text_disabled_color: #666;
    prompt_text_color: #777;

    highlight_color: accent_color;
    highlighted_text_color: white;

    graphic_color: #747474;
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar                                                                *
 *                                                                             *
 ******************************************************************************/

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider {
    track_hover_color: #999999;
    thumb_hover_color: #f2f2f2;

    thumb_pressed_color: #767676;
}

/*******************************************************************************
 *                                                                             *
 * Toggle Switch (ControlsFX)                                                  *
 *                                                                             *
 ******************************************************************************/

.toggle-switch {
    text_color: white;

    /* Unselected */
    unselected_color: #111;
    unselected_border_color: #cccccc;
    thumb_unselected_color: #cccccc;
    /* --    hover */
    unselected_hover_color: #111;
    unselected_border_hover_color: white;
    thumb_unselected_hover_color: white;

    /* Selected */
    selected_color: accent_color;
    selected_border_color: accent_color;
    thumb_selected_color: white;
    /* --    hover */
    selected_hover_color: derive(accent_color, -20%);

    /* Pressed */
    pressed_color: #999999;
    pressed_border_color: pressed_color;
    thumb_pressed_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Spinner                                                                     *
 *                                                                             *
 ******************************************************************************/

.spinner {
    spinner_background_color: #4a4a4a;

    arrow_button_hover_color: #3c4145;
    arrow_button_pressed_color: #a8abac;

    arrow_color: #999;
    arrow_pressed_color: #5e6060;
}

.spinner > .text-field {
    text_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Date Picker                                                                 *
 *                                                                             *
 ******************************************************************************/

.date-picker {
    graphic_color: #111;

    text_color: white;

    text_selected_color: white;
    text_hover_color: white;

    text_days_from_other_months_color: #7c7c7c;

    background_color: white;
    background_hover_color: white;

    border_color: #d2d2d2;
    border_hover_color: white;

    popup_border_color: #111;

    spinner_button_hover_color: #999;

    cell_background_color: #111;

    day_cell_background_color: #1f1f1f;
    day_cell_border_hover_color: #999;

    day_cell_background_days_from_other_months_color: #2b2b2b;

    today_border_color: derive(accent_color, -60%);
}

/*******************************************************************************
 *                                                                             *
 * Choice Box                                                                  *
 *                                                                             *
 ******************************************************************************/

.choice-box {
    text_color: white;

    border_color: #666666;
    border_hover_color: #999999;
    border_focused_color: white;
    border_pressed_color: #666666;

    background_color: #111;
    background_pressed_color: #333333;

    arrow_color: white;
}

/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/

.list-view {
    text_color: white;

    background_color: #111;
    border_color: #666;

    cell_hover_color: #515151;
    cell_pressed_color: #3e3e3e;

    cell_selected_color: derive(accent_color, 20%);
    cell_selected_hover_color: derive(accent_color, 40%);
    cell_selected_pressed_color: derive(accent_color, 50%);
}

/*******************************************************************************
 *                                                                             *
 * Table View                                                                  *
 *                                                                             *
 ******************************************************************************/

.table-view {
    /* This is a var */
    table_view_border_color: #171717;
    light_accent_color: derive(accent_color, 95%);

    text_color: white;
    hover_text_color: #111;
    selected_text_color: #111;
}

.table-view{
    -fx-cell-focus-inner-border: light_accent_color; /* focused */

    -fx-background-color: transparent, transparent;

    -fx-padding: 0;
}

/****** Column Header ******/

.table-view .column-header-background {
    -fx-background-color: #111;
}

.table-view .column-header, .table-view .filler{
    /* borders around table header */
    -fx-background-color: #111;
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .filler {
    -fx-background-color: transparent, #111;
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
}

.table-view .column-header:last-visible {
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .filler {
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .column-header .label{
    -fx-text-fill: text_color;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 1.166667em;  /* 14 */
    -fx-alignment: center-left;

    -fx-padding: 0.666666em 2em 0.666666em 2em;
}

.table-view .column-header:hover{
    -fx-background-color: light_accent_color;
}

.table-view .column-header:hover .label{
    -fx-text-fill: hover_text_color;
}

.table-view .column-header.table-column-selected {
    -fx-background: #111;
    -fx-border-color: #034f95 #034f95 transparent #034f95;
    -fx-border-width: 2px;
}

/****** Table View "body"  ******/

.table-row-cell {
    -fx-background-color: #111;
    -fx-background-insets: 0;
}

.table-cell {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1.166667em;  /* 14 */
    -fx-alignment: center-left;
    -fx-padding: 0.833333em 2em 0.5em 2em;
}

.table-cell:last-visible {
    -fx-border-color: transparent transparent transparent transparent;
}

.table-cell:filled:hover {
    -fx-background-color: light_accent_color;
}

.table-cell .text {
    -fx-fill: text_color;
}

.table-cell:hover .text {
    -fx-fill: hover_text_color;
}

/* Selected cell */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected .text{
    -fx-fill: selected_text_color;
}

/* - when focused */
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected{
    -fx-background: accent_color;
    -fx-border-color: #034f95;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected:hover{
    -fx-background-color: light_accent_color;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell.table-column-selected{
    -fx-background: white;
    -fx-border-color: transparent transparent table_view_border_color transparent, transparent #034f95 transparent #034f95;
    -fx-border-width: 1px 2px 1px 2px, 1px 2px 1px 2px;
}

/* - focused */
.table-view .table-cell:focused {
    -fx-background-color: -fx-background, light_accent_color, -fx-background;
}

.table-view .table-cell:focused .text{
    -fx-fill: selected_text_color;
}

/* Header Sort Arrows */
.table-view /*> column-header-background > nested-column-header >*/ .arrow {
    -fx-padding: 0.5em 0.3125em 0.5em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M26.488,211.891h17.656V53H81L35.316,0L-13,53h39.488V211.891z";

}

/*******************************************************************************
 *                                                                             *
 * Tree View                                                                   *
 *                                                                             *
 ******************************************************************************/

.tree-view {
    tree_view_background_color: #111;

    hover_color: #333;
    pressed_color: derive(hover_color, 15%);

    cell_selected_color: accent_color;
    cell_selected_hover_color: derive(accent_color, 20%);

    text_color: white;
    text_selected_color: white;
    text_hover_color: text_color;

    arrow_color: white;
    arrow__hover_color: text_hover_color;
    arrow_selected_hover_color: text_selected_color;
}

/*******************************************************************************
 *                                                                             *
 * Tab Pane and Tabs                                                           *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
    tab_pane_background_color: #252526;
    tab_pane_bottom_border_color: tab_pane_background_color;

    tab_text_color: white;
    tab_text_hover_color: derive(accent_color, 50%);
    tab_text_selected_hover_color: derive(accent_color, 30%);

    tab_selected_background_color: #1e1e1e;
    tab_selected_border_color: #1e1e1e;
}

/*******************************************************************************
 *                                                                             *
 * Context Menu, Menus, MenuBar and MenuItem                                   *
 *                                                                             *
 ******************************************************************************/

/****************************** Context Menu **********************************/

.context-menu {
    context_menu_background_color: #2b2b2b;
    context_menu_border_color: #777677;

    separator_color: #555555;
}

/********************************* Menu Bar ************************************/

.menu-bar {
    menu_bar_background_color: #2b2b2b;

    text_color: white;

    menu_button_hover_color: #404040;
}

.menu-item {
    text_color: white;

    graphic_color: #aaaaaa;

    hover_color: #404040;
    pressed_color: #555555;
}