/*
 * Copyright (c) 2011-2018 JFXtras
 *  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions are met:
 *      * Redistributions of source code must retain the above copyright
 *        notice, this list of conditions and the following disclaimer.
 *      * Redistributions in binary form must reproduce the above copyright
 *        notice, this list of conditions and the following disclaimer in the
 *        documentation and/or other materials provided with the distribution.
 *      * Neither the name of the organization nor the
 *        names of its contributors may be used to endorse or promote products
 *        derived from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 *  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 *  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 *  DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 *  DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 *  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 *  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 *  ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 *  SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

@import "JMetroBase.css";

.background{
    -fx-background-color: white;
}

.header{
    -fx-text-fill: black;
}

.item-title{
    -fx-text-fill: black;
}

/*******************************************************************************
 *                                                                             *
 * Button and ToggleButton                                                     *
 *                                                                             *
 ******************************************************************************/

.button, .toggle-button {
    background_color: #cccccc;
    background_pressed_color: #999999;

    border_hover_color: #7a7a7a;

    text_color: #111;
    default_button_text_color: white;

    focus_ring_border_color: white;
}

.button {
    border_hover_default_color: derive(accent_color, 70%);
}

.toggle-button {
    border_hover_selected_color: derive(accent_color, 70%);
}

/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/
.check-box {
    text_color: #111;

    box_background_color: white;

    box_border_color: #333333;
    box_border_hover_color: #333333;

    indeterminate_mark_color: #333333;
    indeterminate_box_pressed_color: white;

    focus_ring_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    text_color: #111;

    background_color: white;
    background_pressed_color: white;

    border_color: #333333;
    border_hover_color: #333333;

    dot_color: white;
    dot_selected_color: #333333;
    dot_selected_hover_color: #111;

    focus_ring_color: #333333;
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    background_color: #f2f2f2;
    border_color: #cccccc;
    text_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar and Scroll Pane                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-bar {
    thumb_color: #c2c7ca;
    thumb_hover_color: #838689;
    thumb_pressed_color: #585a5c;

    track_color: #e9e9e9;

    inc_dec_button_color: #e8e6e3;
    inc_dec_button_hover_color: #c6cacf;
    inc_dec_button_pressed_color: #585a5c;

    arrow_color: #5a5a59;
    arrow_pressed_color: white;
}

/**************************** Scroll Pane *************************************/

.scroll-pane {
    background_color: #e9e9e9;
}

/*******************************************************************************
 *                                                                             *
 * Combo Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.combo-box-base {
    border_color: #999999;
    border_hover_color: #666666;
    border_focused_color: #5c5c5c;
    border_pressed_color: border_color;

    background_color: white;
    background_pressed_color: #cccccc;

    arrow_color: #111;

    text_color: #111;

    list_cell_color: #f2f2f2;
    list_cell_hover_color: #dedede;

    list_cell_border_color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * Rating (ControlsFX)                                                         *
 *                                                                             *
 ******************************************************************************/

.rating {
    star_color: #bababa;
}

/*******************************************************************************
 *                                                                             *
 * Text Common (TextField, PasswordField, TextArea)                            *
 *                                                                             *
 ******************************************************************************/

.text-input {
    border_color: #999999;
    border_hover_color: #666666;
    border_disabled_color: #d9d9d9;

    text_input_background_color: white;
    background_focused_color: white;
    background_hover_color: white;
    background_disabled_color: #eaeaea;

    text_color: #111;
    text_focused_color: #111;
    text_disabled_color: #adadad;
    prompt_text_color: #666666;

    highlight_color: accent_color;
    highlighted_text_color: white;

    graphic_color: #747474;
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar                                                                *
 *                                                                             *
 ******************************************************************************/

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider {
    track_hover_color: #666666;
    thumb_hover_color: #171717;

    thumb_pressed_color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * Toggle Switch (ControlsFX)                                                  *
 *                                                                             *
 ******************************************************************************/

.toggle-switch {
    text_color: #111;

    /* Unselected */
    unselected_color: white;
    unselected_border_color: #111;
    thumb_unselected_color: #111;
    /* --    hover */
    unselected_hover_color: unselected_color;
    unselected_border_hover_color: #111;
    thumb_unselected_hover_color: thumb_unselected_color;

    /* Selected */
    selected_color: accent_color;
    selected_border_color: accent_color;
    thumb_selected_color: white;
    /* --    hover */
    selected_hover_color: derive(accent_color, 40%);

    /* Pressed */
    pressed_color: #666666;
    pressed_border_color: pressed_color;
    thumb_pressed_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Spinner                                                                     *
 *                                                                             *
 ******************************************************************************/

.spinner {
    spinner_background_color: #f0f0f0;

    arrow_button_hover_color: #dadada;
    arrow_button_pressed_color: #606060;

    arrow_color: -fx-mark-color;
    arrow_pressed_color: white;
}

.spinner > .text-field {
    text_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Date Picker                                                                 *
 *                                                                             *
 ******************************************************************************/

.date-picker {
    graphic_color: #111;

    text_color: #111;

    text_selected_color: white;
    text_hover_color: text_color;

    text_days_from_other_months_color: derive(text_color, 60%);

    background_color: white;
    background_hover_color: white;

    border_color: #999999;
    border_hover_color: #666666;

    popup_border_color: #e6e6e6;

    spinner_button_hover_color: #dadada;

    cell_background_color: white;

    day_cell_background_color: #e6e6e6;
    day_cell_border_hover_color: #666;

    day_cell_background_days_from_other_months_color: #f2f2f2;

    today_border_color: derive(accent_color, 90%);
}

/*******************************************************************************
 *                                                                             *
 * Choice Box                                                                  *
 *                                                                             *
 ******************************************************************************/

.choice-box {
    text_color: #111;

    border_color: #999999;
    border_hover_color: #666666;
    border_focused_color: #7a7a7a;
    border_pressed_color: border_color;

    background_color: white;
    background_pressed_color: #cccccc;

    arrow_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/

.list-view {
    text_color: #111;

    background_color: white;
    border_color: #111;

    cell_hover_color: #dadada;
    cell_pressed_color: #c2c2c2;

    cell_selected_color: derive(accent_color, 90%);
    cell_selected_hover_color: derive(accent_color, 70%);
    cell_selected_pressed_color: derive(accent_color, 60%);
}

/*******************************************************************************
 *                                                                             *
 * Table View                                                                  *
 *                                                                             *
 ******************************************************************************/

.table-view {
    /* This is a var */
    table_view_border_color: #f4f4f4;
    light_accent_color: derive(accent_color, 95%);

    text_color: #111;
    hover_text_color: #111;
    selected_text_color: white;
}

.table-view{
    -fx-cell-focus-inner-border: light_accent_color; /* focused */

    -fx-background-color: transparent, transparent;

    -fx-padding: 0;
}

/****** Column Header ******/

.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header, .table-view .filler{
    /* borders around table header */
    -fx-background-color: white;
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .filler {
    -fx-background-color: transparent, white;
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
}

.table-view .column-header:last-visible {
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .filler {
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .column-header .label{
    -fx-text-fill: text_color;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 1.166667em;  /* 14 */
    -fx-alignment: center-left;

    -fx-padding: 0.666666em 2em 0.666666em 2em;
}

.table-view .column-header:hover{
    -fx-background-color: light_accent_color;
}

.table-view .column-header:hover .label{
    -fx-text-fill: hover_text_color;
}

.table-view .column-header.table-column-selected {
    -fx-background: white;
    -fx-border-color: #034f95 #034f95 transparent #034f95;
    -fx-border-width: 2px;
}

/****** Table View "body"  ******/

.table-row-cell {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.table-cell {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1.166667em;  /* 14 */
    -fx-alignment: center-left;
    -fx-padding: 0.833333em 2em 0.5em 2em;
}

.table-cell:last-visible {
    -fx-border-color: transparent transparent transparent transparent;
}

.table-cell:filled:hover {
    -fx-background-color: light_accent_color;
}

.table-cell .text {
    -fx-fill: text_color;
}

.table-cell:hover .text {
    -fx-fill: hover_text_color;
}

/* Selected cell */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected .text{
    -fx-fill: selected_text_color;
}

/* - when focused */
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected{
    -fx-background: accent_color;
    -fx-border-color: #034f95;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected:hover{
    -fx-background-color: light_accent_color;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell.table-column-selected{
    -fx-background: white;
    -fx-border-color: transparent transparent table_view_border_color transparent, transparent #034f95 transparent #034f95;
    -fx-border-width: 1px 2px 1px 2px, 1px 2px 1px 2px;
}

/* - when focused and selected */
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected{
    -fx-border-color: #034f95;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected .text{
    -fx-fill: selected_text_color;
}

/* When hover */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:hover .text,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:hover:selected .text{
    -fx-fill: hover_text_color;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected:hover{
    -fx-background-color: light_accent_color;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell.table-column-selected{
    -fx-background: white;
    -fx-border-color: transparent transparent table_view_border_color transparent, transparent #034f95 transparent #034f95;
    -fx-border-width: 1px 2px 1px 2px, 1px 2px 1px 2px;
}

/* - focused */
.table-view .table-cell:focused {
    -fx-background-color: -fx-background, light_accent_color, -fx-background;
}

/* Header Sort Arrows */
.table-view /*> column-header-background > nested-column-header >*/ .arrow {
    -fx-padding: 0.5em 0.3125em 0.5em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M26.488,211.891h17.656V53H81L35.316,0L-13,53h39.488V211.891z";

}

/*******************************************************************************
 *                                                                             *
 * Tree View                                                                   *
 *                                                                             *
 ******************************************************************************/

.tree-view {
    tree_view_background_color: white;

    hover_color: #eee;
    pressed_color: derive(hover_color, -10%);

    cell_selected_color: accent_color;
    cell_selected_hover_color: derive(accent_color, 20%);

    text_color: #111;
    text_selected_color: white;
    text_hover_color: text_color;

    arrow_color: #111;
    arrow__hover_color: text_hover_color;
    arrow_selected_hover_color: text_selected_color;
}

/*******************************************************************************
 *                                                                             *
 * Tab Pane and Tabs                                                           *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
    tab_pane_background_color: white;
    tab_pane_bottom_border_color: #cccccc;

    tab_text_color: #767676;
    tab_text_hover_color: accent_color;
    tab_text_selected_hover_color: derive(accent_color, 30%);

    tab_selected_background_color: white;
    tab_selected_border_color: tab_pane_bottom_border_color;
}

/*******************************************************************************
 *                                                                             *
 * Context Menu, Menus, MenuBar and MenuItem                                   *
 *                                                                             *
 ******************************************************************************/

/****************************** Context Menu **********************************/

.context-menu {
    context_menu_background_color: #f2f2f2;
    context_menu_border_color: #cccccc;

    separator_color: #c3c3c3;
}

/********************************* Menu Bar ************************************/

.menu-bar {
    menu_bar_background_color: white;

    text_color: #111;

    menu_button_hover_color: #dadada;
}

.menu-item {
    text_color: #111;

    graphic_color: #0a0a0a;

    hover_color: #dadada;
    pressed_color: #c2c2c2;
}