.background-1 {
    -fx-background-color: #310050;
}

.background-2 {
    -fx-background-color:  #150025;
}

.text-1 {
    -fx-color: #979797;
    -fx-background-color: #0a0a0a;
    -fx-alignment: top-right;
    -fx-font-weight: bold;
}